<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Het is <b>Quiz Time!</b></h1>
        <h1>Klik op start om te beginnen.</h1>
        <form action="/start" method="get">
            <button type="submit">Start</button>
        </form>
    </div>
</body>
</html>